form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 40px;
    input, select, textarea {
        border-radius: 5px;
        color: $violet2;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
        transform: translate3d(0, 0, 0);
        transition: box-shadow 0.3s;
    }
    input::placeholder, textarea::placeholder {color: inherit;}
    input:focus, select:focus, textarea:focus {
        outline: none;
        box-shadow: 0 4px 4px rgba(237, 111, 89, 0.25);
    }
    input, select {
        width: 100%;
        height: 52px;
        padding: 0 26px;
    }
    select{
        font-family: inherit;
        letter-spacing: inherit;
        appearance: none;
    }
    textarea {
        grid-column: 1/3;
        height: 104px;
        padding: 12px 26px;
        resize: none;
    }
    .orange-btn {
        grid-column: 1/3;
        margin: 10px auto 0 auto;
    }
}

@media (max-width: 1300.9px) and (min-width: 321px) {
    form {
        gap: calc(15px + (30 - 15) * ((100vw - 321px) / (1300 - 321)));
        margin-top: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));
        input, select {
            height: calc(36px + (52 - 36) * ((100vw - 321px) / (1300 - 321)));
            padding: 0 calc(14px + (26 - 14) * ((100vw - 321px) / (1300 - 321)));
        }
        textarea {
            height: calc(72px + (104 - 72) * ((100vw - 321px) / (1300 - 321)));
            padding: 12px calc(14px + (26 - 14) * ((100vw - 321px) / (1300 - 321)));
        }
    }
}

@media (max-width: 767.9px) {
    form {
        input[type="email"], select {grid-column: 1/3;}
    }
}

@media (max-width: 320.9px) {
    form {
        gap: 15px;
        margin-top: 20px;
        input, select {
            height: 36px;
            padding: 0 14px;
        }
        textarea {
            height: 72px;
            padding: 12px 14px;
        }
    }
}