.header1 {
    position: absolute;
    width: 100%;
    top: 32px;
    left: 0;
    .container {
        display: flex;
        padding: 0 90px 0 176px;
        .header1__logo, .header1__nav, .header1__phone, .header1__burger-pc {
            position: relative;
            transform: translate3d(0, 0, 0);
        }
        .header1__logo {
            z-index: 3;
            flex: 1 1 auto;
            img {
                display: block;
                width: 102px;
            }
        }
        .header1__nav {
            z-index: 2;
            nav {
                display: grid;
                grid-auto-flow: column;
                column-gap: 12px;
                padding: 3px 0 10px 0;
                border-bottom: 1px solid $white;
                a:not(.internal-links-level1 a), .btn-to-open-level1 {
                    font-size: 16px;
                    text-transform: uppercase;
                }
                .nav__internal-links {
                    button {background-color: transparent;}
                    .pc-btn {display: block;}
                    .mob-btn {display: none;}
                    @media (hover: none) and (min-width: 768px) {
                        button {transform: translate3d(0, 0, 0);}
                        .btn-to-open-level1._active {color: $orange1;}
                    }
                    .internal-links__box {
                        transform: translate3d(0, 0, 0);
                        display: none;
                        padding-top: 10px;
                        position: absolute;
                        .internal-links-level1, .internal-links-level2 {
                            width: max-content;
                            padding: 9px 0 14px 0;
                        }
                        .internal-links-level1 {
                            position: relative;
                            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
                            background-color: rgba(255, 255, 255, 0.8);
                            -webkit-backdrop-filter: blur(10px);
                            backdrop-filter: blur(10px);
                            a {display: block;}
                            a, .btn-to-open-level2 {
                                padding: 6px 20px;
                                font-size: 14px;
                            }
                            a:not(.internal-links-level2 a), .btn-to-open-level2 {color: inherit;}
                            @media (hover: none) and (min-width: 768px) {
                                .btn-to-open-level2._active {color: $red1;}
                            }
                            @media (hover: hover) and (pointer: fine) {
                                a, .btn-to-open-level2 {
                                    transform: translate3d(0, 0, 0);
                                    transition: 0.3s ease;
                                }
                                a:not(.internal-links-level2 a):hover, .btn-to-open-level2:hover {color: $red1;}
                            }
                            .two-levels {
                                .btn-to-open-level2 {
                                    width: 100%;
                                    text-align: left;
                                }
                                .internal-links-level2 {
                                    transform: translate3d(0, 0, 0);
                                    display: none;
                                    min-height: 100%;
                                    position: absolute;
                                    top: 0;
                                    left: 100%;
                                    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
                                    background-color: $white;
                                    a {color: $violet2;}
                                    @media (hover: hover) and (pointer: fine) {
                                        a:hover {color: $red1;}
                                    }
                                }
                                @media (hover: none) {
                                    .internal-links-level2._visible {display: block;}
                                }
                            }
                        }
                    }
                    @media (hover: none) {
                        .internal-links__box._visible {display: block;}
                    }
                }
                @media (hover: hover) and (min-width: 768px) {
                    .nav__internal-links:hover {
                        .internal-links__box {
                            display: block;
                            .internal-links-level1 {
                                .two-levels {
                                    button:hover ~ .internal-links-level2, .internal-links-level2:hover {display: block;}
                                }
                            }
                        }
                    }
                }
            }
        }
        .header1__phone {
            z-index: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 34px;
            a {
                font-size: 19px;
                letter-spacing: 0.02em;
                margin-bottom: 6px;
            }
            span {
                font-size: 12px;
                line-height: 110%;
                color: $white;
            }
        }
        .header1__burger-pc {
            z-index: 2;
            width: 54px;
            height: 40px;
            div {
                width: 44px;
                height: 30px;
            }
        }
        .header1__burger-pc._active {
            div {
                &::before {top: 13px;}
                &::after {bottom: 13px;}
            }
        }
    }
}

@media (max-width: 1300.9px) and (min-width: 768px) {
    .header1 {
        .container {
            padding: 0 calc(50px + (176 - 50) * ((100vw - 768px) / (1300 - 768)));
            .header1__nav {
                nav {
                    a:not(.internal-links-level1 a), .btn-to-open-level1 {
                        font-size: calc(13px + (16 - 13) * ((100vw - 768px) / (1300 - 768)));
                    }
                    .nav__internal-links {
                        .internal-links__box {
                            .internal-links-level1, .internal-links-level2 {
                                padding: calc(7px + (9 - 7) * ((100vw - 768px) / (1300 - 768))) 0
                                         calc(12px + (14 - 12) * ((100vw - 768px) / (1300 - 768))) 0;
                            }
                            .internal-links-level1 {
                                a, .btn-to-open-level2 {
                                    padding: calc(5px + (6 - 5) * ((100vw - 768px) / (1300 - 768)))
                                             calc(17px + (20 - 17) * ((100vw - 768px) / (1300 - 768)));
                                    font-size: calc(12px + (14 - 12) * ((100vw - 768px) / (1300 - 768)));
                                }
                            }
                        }
                    }
                }
            }
            .header1__phone {margin: 0 calc(30px + (34 - 30) * ((100vw - 768px) / (1300 - 768)));}
            .header1__burger-pc {
                width: calc(40px + (54 - 40) * ((100vw - 768px) / (1300 - 768)));
                div {
                    width: calc(30px + (44 - 30) * ((100vw - 768px) / (1300 - 768)));
                    height: calc(20px + (30 - 20) * ((100vw - 768px) / (1300 - 768)));
                }
            }
            .header1__burger-pc._active {
                div {
                    &::before {top: calc(9px + (13 - 9) * ((100vw - 768px) / (1300 - 768)));}
                    &::after {bottom: calc(9px + (13 - 9) * ((100vw - 768px) / (1300 - 768)));}
                }
            }
        }
    }
}

@media (max-width: 991.9px) and (min-width: 768px) {
    .header1 {
        .container {padding: 0 calc(30px + (80 - 30) * ((100vw - 768px) / (991 - 768)));}
    }
}

@media (max-width: 991.9px) {
    .header1 {
        .container {
            justify-content: space-between;
            .header1__logo {flex: 0 1 auto;}
            .header1__phone {margin: 0;}
        }
    }
}

@media (min-width: 768px) {
    .header1 {
        .container {
            .header1__burger-mob {display: none;}
        }
    }
}

@media (max-width: 767.9px) {
    .header1 {
        .container {
            padding: 0 50px;
            align-items: center;
            .header1__logo {
                img {width: 90px;}
            }
            .header1__phone {
                a {
                    font-size: 18px;
                    margin-bottom: 0;
                }
                span {display: none;}
            }
            .header1__burger-pc {display: none;}
            .header1__burger-mob {
		        width: 40px;
                height: 40px;
                position: relative;
                z-index: 2;
                transform: translate3d(5px, 0, 0);
                div {
                    width: 30px;
                    height: 20px;
                }
            }
            .header1__burger-mob._active {
                div {
                    &::before {top: 9px;}
                    &::after {bottom: 9px;}
                }
            }
            .header1__nav {
                position: fixed;
                top: 0;
                right: -100%;
                width: 100%;
                height: 100%;
                padding-top: 110px;
                transition: transform 0.5s;
                display: flex;
                justify-content: flex-end;
                align-items: flex-start;
                overflow: auto;
                background-color: rgba(49, 44, 59, 0.6);
                nav {
                    padding: 16px 20px 8px 20px;
                    grid-auto-flow: row;
                    background-color: $white;
                    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
                    .white-link {color: inherit;}
                    a:not(.internal-links-level1 a), .btn-to-open-level1 {
                        text-transform: none;
                        margin-bottom: 12px;
                    }
                    @media (hover: hover) and (pointer: fine) {
                        a:not(.internal-links-level1 a):hover, .btn-to-open-level1:hover {color: $red1;}
                    }
                    .nav__internal-links {
                        .pc-btn {display: none;}
                        .mob-btn {display: block;}
                        .internal-links__box {
                            display: block;
                            transform: none;
                            position: unset;
                            max-height: 0;
                            overflow: hidden;
                            transition: max-height 0.4s ease-out;
                            padding-top: 0;
                            .internal-links-level1, .internal-links-level2 {padding: 0;}
                            .internal-links-level1 {
                                box-shadow: none;
                                background-color: unset;
                                -webkit-backdrop-filter: none;
                                backdrop-filter: none;
                                a, .btn-to-open-level2 {
                                    padding: 0;
                                    margin-bottom: 8px;
                                    margin-left: 12px;
                                }
                                a:not(.internal-links-level2 a):last-child {margin-bottom: 12px;}
                                .two-levels {
                                    .internal-links-level2 {
                                        display: block;
                                        transform: none;
                                        position: unset;
                                        max-height: 0;
                                        overflow: hidden;
                                        transition: max-height 0.4s ease-out;
                                        margin-left: 16px;
                                        box-shadow: none;
                                        background-color: unset;
                                        a:last-child {margin-bottom: 9px;}
                                    }
                                }
                                .two-levels:last-child {margin-bottom: 5px;}
                            }
                        }
                    }
                }
            }
            .header1__nav._active {transform: translate3d(-100%, 0, 0);}
            .burger-icon {
                div {
                    span, &::before, &::after {transition: all 0.5s;}
                }
            }
        }
    }
}

@media (max-width: 480.9px) {
    .header1 {
        top: 22px;
        .container {
            padding: 0 22px;
            .header1__phone {
                a {font-size: 16px;}
            }
            .header1__nav {padding-top: 90px;}
        }
    }
}

@media (max-width: 360.9px) {
    .header1 {
        top: 20px;
        .container {
            padding: 0 15px;
            .header1__logo {
                img {width: 80px;}
            }
            .header1__nav {padding-top: 81px;}
        }
    }
}