.marriage-registration-section2, .marriage-registration-section4, .marriage-registration-section5, .marriage-registration-section7 {
    .container {
        .text-with-lines:not(.wedding-receptionist-section2 .text-with-lines), .marriage-registration-section4__text {max-width: 838px;}
    }
}

.marriage-registration-section2 {
    margin: 60px 0 50px 0;
    .marriage-registration-section2__top {
        nav {
            grid-template-columns: 1fr 1fr;
            a {text-align: center;}
        }
    }
    .container {margin-top: 60px;}
}

.marriage-registration-section3 {
    .container {
        padding: 0 60px;
        h4 {
            text-align: center;
            color: $red2;
        }
        .spoiler-cards {
            .spoiler-card {
                h5 {
                    width: min-content;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            .centered-card {transform: translate3d(calc(50% + 20px), 25%, 0);}
        }
    }
    .container._transform {
        .spoiler-cards {
            .centered-card {transform: translate3d(calc(50% + 20px), 0, 0);}
        }
    }
}

.marriage-registration-section4 {
    margin: 60px 0 52px 0;
    .container {
        padding: 0 60px;
        h4 {
            text-align: center;
            color: $red2;
        }
        .text-with-lines {
            margin-top: 40px;
            margin-bottom: 34px;
        }
        .marriage-registration-section4__text {
            text-align: justify;
            line-height: 160%;
            margin: 0 auto;
        }
    }
}

.marriage-registration-section5 {
    .container {
        h4 {
            max-width: 728px;
            text-align: center;
        }
        .text-with-lines {margin-bottom: 44px;}
    }
}

.marriage-registration-section6 {padding-top: 13px;}

.marriage-registration-section7 {
    margin-bottom: 60px;
    .container {
        padding: 0 60px;
        h4 {
            margin-bottom: 40px;
            text-align: center;
            color: $violet1;
        }
        ul {
            max-width: 1054px;
            margin: 34px auto 41px auto;
        }
    }
}

.marriage-registration-section9 {
    margin: 50px 0 65px 0;
    .container {
        padding: 0 60px;
        h4 {color: $violet1;}
        .text-with-lines {
            max-width: 444px;
            margin-top: 36px;
        }
        .spoiler-cards {
            .spoiler-card:nth-child(4), .spoiler-card:nth-child(5), .spoiler-card:nth-child(6) {
                h5 {
                    width: min-content;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media (max-width: 1300.9px) and (min-width: 321px) {
    .marriage-registration-section2, .marriage-registration-section4, .marriage-registration-section5, .marriage-registration-section7 {
        .container {
            .text-with-lines:not(.wedding-receptionist-section2 .text-with-lines), .marriage-registration-section4__text {
                max-width: calc(419px + (838 - 419) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
    .marriage-registration-section2 {
        margin: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0
                calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            margin-top: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)));
        }
    }
    .marriage-registration-section3 {
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .spoiler-cards {
                .centered-card {transform: translate3d(calc(50% + calc(8px + (20 - 8) * ((100vw - 321px) / (1300 - 321)))), 25%, 0);}
            }
        }
        .container._transform {
            .spoiler-cards {
                .centered-card {transform: translate3d(calc(50% + calc(8px + (20 - 8) * ((100vw - 321px) / (1300 - 321)))), 0, 0);}
            }
        }
    }
    .marriage-registration-section4 {
        margin: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0
                calc(25px + (52 - 25) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {
                margin-top: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));
                margin-bottom: calc(18px + (34 - 18) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
    .marriage-registration-section5 {
        .container {
            h4 {max-width: calc(364px + (728 - 364) * ((100vw - 321px) / (1300 - 321)));}
            .text-with-lines {margin-bottom: calc(23px + (44 - 23) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .marriage-registration-section6 {padding-top: calc(7px + (13 - 7) * ((100vw - 321px) / (1300 - 321)));}
    .marriage-registration-section7 {
        margin-bottom: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)));
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            h4 {margin-bottom: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));}
            ul {
                max-width: calc(527px + (1054 - 527) * ((100vw - 321px) / (1300 - 321)));
                margin: calc(18px + (34 - 18) * ((100vw - 321px) / (1300 - 321))) auto
                        calc(22px + (41 - 22) * ((100vw - 321px) / (1300 - 321))) auto;
            }
        }
    }
    .marriage-registration-section9 {
        margin: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0
                calc(35px + (65 - 35) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {
                max-width: calc(222px + (444 - 222) * ((100vw - 321px) / (1300 - 321)));
                margin-top: calc(16px + (36 - 16) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
}

@media (max-width: 991.9px) {
    .marriage-registration-section3 {
        .container {
            .spoiler-cards {
                .centered-card {transform: translate3d(0, 25%, 0);}
            }
        }
        .container._transform {
            .spoiler-cards {
                .centered-card {transform: translate3d(0, 0, 0);}
            }
        }
    }
    .marriage-registration-section5 {
        .service-packages-container {
            .service-package:nth-child(2) {transition: transform 0.8s 1s, opacity 0.8s 1s, visibility 0.8s 1s;}
            .service-package:nth-child(3), .service-package:nth-child(4) {transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;}
        }
    }
    .marriage-registration-section7 {
        .container {
            ul {transform: translate3d(0, 25%, 0);}
        }
    }
    .marriage-registration-section9 {
        .container {
            .spoiler-cards {
                .spoiler-card:nth-child(4) {
                    h5 {width: auto;}
                }
                .spoiler-card:nth-child(3) {transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;}
                .spoiler-card:nth-child(5), .spoiler-card:nth-child(6) {transition: transform 0.8s 2s, opacity 0.8s 2s, visibility 0.8s 2s;}
                .spoiler-card:nth-child(7), .spoiler-card:nth-child(8) {transition: transform 0.8s 2.5s, opacity 0.8s 2.5s, visibility 0.8s 2.5s;}
                .spoiler-card:nth-child(9) {transition: transform 0.8s 3s, opacity 0.8s 3s, visibility 0.8s 3s;}
            }
        }
    }
}

@media (max-width: 600.9px) {
    .marriage-registration-section5 {
        .service-packages-container {
            .service-packages {
                .service-package:nth-child(2) {transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;}
                .service-package:nth-child(3) {transition: transform 0.8s 2s, opacity 0.8s 2s, visibility 0.8s 2s;}
                .service-package:nth-child(4) {transition: transform 0.8s 2.5s, opacity 0.8s 2.5s, visibility 0.8s 2.5s;}
            }
        }
    }
}

@media (max-width: 599.9px) and (min-width: 321px) {
    .marriage-registration-section5 {
        .container {
            .text-with-lines {padding: 0 calc(5px + (0 - 5) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
}

@media (max-width: 480.9px) {
    .marriage-registration-section3 {
        .container {
            .spoiler-cards {
                .spoiler-card {
                    h5 {width: auto;}
                }
            }
        }
    }
    .marriage-registration-section9 {
        .container {
            .spoiler-cards {
                .spoiler-card:nth-child(5), .spoiler-card:nth-child(6) {
                    h5 {width: auto;}
                }
                .spoiler-card:nth-child(n+3) {transition: transform 0.8s 1s, opacity 0.8s 1s, visibility 0.8s 1s;}
            }
        }
    }
}

@media (max-width: 360.9px) {
    .marriage-registration-section2 {
        .marriage-registration-section2__top {
            nav {
                grid-template-columns: 1fr;
                transform: translate3d(0, 50%, 0);
            }
        }
    }
}

@media (max-width: 320.9px) {
    .marriage-registration-section2 {
        margin: 30px 0 25px 0;
        .container {
            padding: 0 20px;
            margin-top: 30px;
        }
    }
    .marriage-registration-section3 {
        .container {padding: 0 20px;}
    }
    .marriage-registration-section4 {
        margin: 30px 0 25px 0;
        .container {
            padding: 0 20px;
            .text-with-lines {
                margin-top: 20px;
                margin-bottom: 18px;
            }
        }
    }
    .marriage-registration-section5 {
        .container {
            .text-with-lines {
                margin-bottom: 23px;
                padding: 0 5px;
            }
        }
    }
    .marriage-registration-section6 {padding-top: 7px;}
    .marriage-registration-section7 {
        margin-bottom: 30px;
        .container {
            padding: 0 20px;
            h4 {margin-bottom: 20px;}
            ul {margin: 18px auto 22px auto;}
        }
    }
    .marriage-registration-section9 {
        margin: 25px 0 35px 0;
        .container {
            padding: 0 20px;
            .text-with-lines {
                max-width: 222px;
                margin-top: 16px;
            }
        }
    }
}