.team-section2 {
    .container {
        padding: 50px 90px 60px 90px;
        h3 {color: $violet2;}
        p {
            margin-top: 40px;
            font-size: 22px;
            line-height: 160%;
            text-align: justify;
            color: $brown2;
        }
    }
}

.team-section3 {
    margin-bottom: 70px;
    h4 {color: $red2;}
    .container {
        display: grid;
        align-items: start;
        column-gap: 60px;
        .team-section3__teammate {
            grid-row: 1/-1;
            padding: 18px 18px 20px 18px;
            background-color: #FAFAFA;
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
            picture {
                display: block;
                position: relative;
                width: 250px;
                border-radius: 5px;
                overflow: hidden;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(to bottom, transparent, rgba(88, 12, 26, 0.2));
                }
            }
            span {
                display: block;
                font-family: "AmaticSC-Regular";
                font-size: 48px;
                text-align: center;
                margin-top: 15px;
            }
        }
        .dividing-line {
            transform: translate3d(0, 0, 0);
            transition: opacity 0.8s 0.5s;
        }
        p {
            font-size: 18px;
            line-height: 166%;
            text-align: justify;
            color: $brown1;
        }
    }
    .container:not(.container:nth-child(2), .container:nth-child(7), .container:nth-child(10)) {grid-template-rows: auto 1fr;}
    .container:nth-child(2), .container:nth-child(3), .container:nth-child(4),
    .container:nth-child(7), .container:nth-child(8), .container:nth-child(9) {
        grid-template-columns: auto 1fr;
    }
    .container:nth-child(5), .container:nth-child(6), .container:nth-child(10), .container:nth-child(11) {
        grid-template-columns: 1fr auto;
        .team-section3__teammate {grid-column: 2/3;}
    }
    .container:nth-child(2) {
        padding: 0 90px 0 130px;
        .team-section3__teammate {
            span {color: $red1;}
        }
    }
    .container:nth-child(3) {
        padding: 0 90px 0 360px;
        .team-section3__teammate {
            span {color: $violet1;}
        }
    }
    .container:nth-child(4) {
        padding: 0 90px 0 80px;
        .team-section3__teammate {
            margin: -80px 0 50px 0;
            span {color: $red2;}
        }
        .dividing-line {
            width: 63.351%;
            justify-self: end;
        }
    }
    .container:nth-child(5) {
        padding: 0 60px 0 90px;
        .team-section3__teammate {
            span {color: $brown2;}
        }
        .dividing-line {
            width: 57%;
            justify-self: end;
        }
    }
    .container:nth-child(6) {
        padding: 0 290px 0 90px;
        .team-section3__teammate {
            span {color: $red1;}
        }
    }
    .container:nth-child(7) {
        padding: 0 90px 0 160px;
        .team-section3__teammate {
            z-index: 3;
            span {color: $violet1;}
        }
        p {margin-bottom: 55px;}
    }
    .container:not(.container:nth-child(7), .container:last-child) {
        margin-bottom: -40px;
        p {margin-bottom: 95px;}
    }
    .container:not(.container:nth-child(7), .container:nth-child(10)) {
        p {margin-top: 50px;}
    }
    .container:nth-child(7), .container:nth-child(10) {
        p {margin-top: 68px;}
    }
    .container:nth-child(8) {
        padding: 0 90px 0 50px;
        .team-section3__teammate {
            span {color: $red2;}
        }
        .dividing-line {
            width: 70.15%;
            justify-self: end;
        }
    }
    .container:nth-child(9) {
        padding: 0 90px 0 290px;
        .team-section3__teammate {
            span {color: $brown2;}
        }
    }
    .container:nth-child(10) {
        padding: 0 120px 0 90px;
        .team-section3__teammate {
            span {color: $red1;}
        }
    }
    .container:nth-child(11) {
        padding: 0 330px 0 90px;
        .team-section3__teammate {
            span {color: $violet1;}
        }
    }
    .container:nth-child(2)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(-3deg);}
    }
    .container:nth-child(3)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(4deg);}
    }
    .container:nth-child(4)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(-6deg);}
    }
    .container:nth-child(5)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(5deg);}
    }
    .container:nth-child(6)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(-5deg);}
    }
    .container:nth-child(7)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(4deg);}
    }
    .container:nth-child(8)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(-3deg);}
    }
    .container:nth-child(9)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(4deg);}
    }
    .container:nth-child(10)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(-2deg);}
    }
    .container:nth-child(11)._transform {
        .team-section3__teammate {transform: translate3d(0, 0, 0) rotate(4deg);}
    }
}

@media (max-width: 1300.9px) and (min-width: 321px) {
    .team-section2 {
        .container {
            padding: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)))
                     calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)))
                     calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)));
            p {
                margin-top: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));
                font-size: calc(14px + (22 - 14) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
    .team-section3 {
        margin-bottom: calc(30px + (70 - 30) * ((100vw - 321px) / (1300 - 321)));
        .container {
            .team-section3__teammate {
                padding: calc(10px + (18 - 10) * ((100vw - 321px) / (1300 - 321)))
                         calc(10px + (18 - 10) * ((100vw - 321px) / (1300 - 321)))
                         calc(14px + (20 - 14) * ((100vw - 321px) / (1300 - 321)))
                         calc(10px + (18 - 10) * ((100vw - 321px) / (1300 - 321)));
                picture {width: calc(150px + (250 - 150) * ((100vw - 321px) / (1300 - 321)));}
                span {
                    font-size: calc(24px + (48 - 24) * ((100vw - 321px) / (1300 - 321)));
                    margin-top: calc(12px + (15 - 12) * ((100vw - 321px) / (1300 - 321)));
                }
            }
            p {font-size: calc(10px + (18 - 10) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
}

@media (max-width: 1300.9px) and (min-width: 992px) {
    .team-section3 {
        .container {column-gap: calc(50px + (60 - 50) * ((100vw - 992px) / (1300 - 992)));}
        .container:nth-child(2) {
            padding: 0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)))
                     0 calc(50px + (130 - 50) * ((100vw - 992px) / (1300 - 992)));
        }
        .container:nth-child(3) {
            padding: 0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)))
                     0 calc(240px + (360 - 240) * ((100vw - 992px) / (1300 - 992)));
        }
        .container:nth-child(4) {
            padding: 0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)))
                     0 calc(50px + (80 - 50) * ((100vw - 992px) / (1300 - 992)));
            .team-section3__teammate {margin: calc(-60px + (-80 + 60) * ((100vw - 992px) / (1300 - 992))) 0 50px 0;}
        }
        .container:nth-child(5) {
            padding: 0 calc(50px + (60 - 50) * ((100vw - 992px) / (1300 - 992)))
                     0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)));
        }
        .container:nth-child(6) {
            padding: 0 calc(233px + (290 - 233) * ((100vw - 992px) / (1300 - 992)))
                     0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)));
        }
        .container:nth-child(7) {
            padding: 0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)))
                     0 calc(140px + (160 - 140) * ((100vw - 992px) / (1300 - 992)));
            p {margin-bottom: calc(45px + (55 - 45) * ((100vw - 992px) / (1300 - 992)));}
        }
        .container:not(.container:nth-child(7), .container:last-child) {
            margin-bottom: calc(-30px + (-40 + 30) * ((100vw - 992px) / (1300 - 992)));
            p {margin-bottom: calc(75px + (95 - 75) * ((100vw - 992px) / (1300 - 992)));}
        }
        .container:not(.container:nth-child(7), .container:nth-child(10)) {
            p {margin-top: calc(40px + (50 - 40) * ((100vw - 992px) / (1300 - 992)));}
        }
        .container:nth-child(7), .container:nth-child(10) {
            p {margin-top: calc(48px + (68 - 48) * ((100vw - 992px) / (1300 - 992)));}
        }
        .container:nth-child(8) {
            padding: 0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321))) 0 50px;
        }
        .container:nth-child(9) {
            padding: 0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)))
                     0 calc(220px + (290 - 220) * ((100vw - 992px) / (1300 - 992)));
        }
        .container:nth-child(10) {
            padding: 0 calc(50px + (120 - 50) * ((100vw - 992px) / (1300 - 992)))
                     0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)));
        }
        .container:nth-child(11) {
            padding: 0 calc(234px + (330 - 234) * ((100vw - 992px) / (1300 - 992)))
                     0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)));
        }
    }
}

@media (max-width: 991.9px) and (min-width: 321px) {
    .team-section3 {
        .container:nth-child(n+2) {padding: 0 calc(15px + (90 - 15) * ((100vw - 321px) / (1300 - 321)));}
        .container:nth-child(2) {margin-top: calc(30px + (35 - 30) * ((100vw - 321px) / (991 - 321)));}
        .container:not(.container:nth-child(2)) {margin-top: calc(35px + (60 - 35) * ((100vw - 321px) / (991 - 321)));}
    }
}

@media (max-width: 991.9px) and (min-width: 601px) {
    .team-section3 {
        .container {column-gap: calc(50px + (60 - 50) * ((100vw - 601px) / (991 - 601)));}
    }
}

@media (max-width: 991.9px) {
    .team-section3 {
        .container:nth-child(4) {
            .team-section3__teammate {margin: 0;}
        }
        .container:nth-child(7) {
            p {margin-bottom: 0;}
        }
        .container:not(.container:nth-child(7), .container:last-child) {
            margin-bottom: 0;
            p {margin-bottom: 0;}
        }
        .container:not(.container:nth-child(7), .container:nth-child(10)) {
            p {margin-top: 0;}
        }
        .container:nth-child(7), .container:nth-child(10) {
            p {margin-top: 0;}
        }
        .container:not(.container:nth-child(2), .container:nth-child(7), .container:nth-child(10)) {grid-template-rows: auto;}
        .container {
            align-items: center;
            .dividing-line {display: none;}
        }
    }
}

@media (max-width: 600.9px) and (min-width: 321px) {
    .team-section3 {
        .container:nth-child(n+2) {
            .team-section3__teammate {margin: 0 auto calc(30px + (40 - 30) * ((100vw - 321px) / (600 - 321))) auto;}
        }
    }
}

@media (max-width: 600.9px) {
    .team-section2 {
        .container {
            p {transform: translate3d(0, 25%, 0);}
        }
    }
    .team-section3 {
        .container:nth-child(n+2) {
            grid-template-columns: 1fr;
            .team-section3__teammate {
                grid-column: auto;
                max-width: 88%;
                picture {
                    width: 100%;
                    max-width: 300px;
                }
            }
            p {
                font-size: 13px;
                line-height: 150%;
                transform: translate3d(0, 50%, 0);
            }
        }
    }
}

@media (max-width: 480.9px) {
    .team-section3 {
        .container:nth-child(n+2) {
            p {font-size: 12px;}
        }
    }
}

@media (max-width: 320.9px) {
    .team-section2 {
        .container {
            padding: 25px 15px 30px 15px;
            p {
                margin-top: 20px;
                font-size: 14px;
            }
        }
    }
    .team-section3 {
        margin-bottom: 30px;
        .container {
            .team-section3__teammate {
                padding: 10px 10px 14px 10px;
                span {
                    font-size: 24px;
                    margin-top: 12px;
                }
            }
        }
        .container:nth-child(n+2) {
            padding: 0 15px;
            .team-section3__teammate {margin: 0 auto 30px auto;}
        }
        .container:nth-child(2) {margin-top: 30px;}
        .container:not(.container:nth-child(2)) {margin-top: 35px;}
    }
}