.wedding-decor-section2 {
    margin: 60px 0 50px 0;
    .wedding-decor-section2__top {
        nav {grid-template-columns: repeat(4, auto);}
    }
    .container {
        margin-top: 60px;
        .text-with-lines {max-width: 932px;}
    }
}

.wedding-decor-section4 {
    margin: 56px 0 60px 0;
    .container {
        padding: 0 60px;
        h4 {color: $violet1;}
        .wedding-decor-section4__cards {
            max-width: 586px;
            margin: 40px auto 0 auto;
            .card {
                div {
                    width: 114px;
                    height: 114px;
                }
                div:not(.contract-card div) {
                    grid-row: 1/3;
                    background: linear-gradient(to right, $violet2 11%, $white 11%);
                }
                span:not(.contract-card span) {
                    align-self: end;
                    color: $violet2;
                }
                span, p {transform: translateY(-1px);}
                p {
                    font-size: 16px;
                    line-height: 125%;
                    margin-top: 8px;
                    color: $brown2;
                }
            }
            .contract-card {
                div {background: linear-gradient(to right, $red2 11%, $white 11%);}
                span {
                    align-self: center;
                    color: $red2;
                }
            }
            .card:not(.card:last-child) {
                margin-bottom: 70px;
                &:after {
                    content: '';
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    transform: translate(-50%, 20px);
                    width: 16px;
                    height: 30px;
                    background: url('../img/wedding-organization-turnkey_section7-11.svg') center / contain no-repeat;
                }
            }
            .card:nth-child(6) {transition: transform 0.8s 3s, opacity 0.8s 3s, visibility 0.8s 3s;}
        }
    }
}

.wedding-decor-section7:not(.wedding-decor-section16) {
    margin: 50px 0 65px 0;
    .container {
        .decor-cards {
            margin: 40px auto 0 auto;
            .decor-card:first-child, .decor-card:nth-child(2) {
                h5 {
                    width: min-content;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.wedding-decor-section7 {
    .container {
        padding: 0 60px;
        h4 {
            text-align: center;
            color: $violet1;
        }
        .decor-cards {
            width: fit-content;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            .decor-card {
                max-width: 330px;
                padding: 15px 15px 28px 15px;
                border-radius: 5px;
                box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
                background-color: $white;
                .decor-card__img-with-link {
                    display: grid;
                    align-items: center;
                    picture, div {
                        grid-column: 1/2;
                        grid-row: 1/2;
                    }
                    picture::after {
                        content: "";
                        transform: translate3d(0, 0, 0);
                        opacity: 0;
                        transition: opacity 0.3s;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: #312c3b;
                    }
                    div {
                        justify-self: center;
                        transform: translate3d(0, 0, 0);
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s, visibility 0.3s;
                        a {
                            display: block;
                            padding: 9px 20px 12px 20px;
                            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
                picture {
                    display: block;
                    position: relative;
                    padding-bottom: 82%;
                    img {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .centered-card {transform: translate3d(calc(50% + 20px), 25%, 0);}
            .decor-card:focus {
                .decor-card__img-with-link {
                    picture::after {opacity: 0.6;}
                    div {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            @media (hover: hover) and (pointer: fine) {
                .decor-card:hover {
                    .decor-card__img-with-link {
                        picture::after {opacity: 0.6;}
                        div {
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }
            }
        }
    }
    .container._transform {
        .decor-cards {
            .centered-card {transform: translate3d(calc(50% + 20px), 0, 0);}
        }
    }
}

.wedding-decor-section9, .wedding-decor-section10, .wedding-decor-section11, .wedding-decor-section12, .wedding-decor-section14 {
    .container {
        padding: 0 60px;
        .text-with-lines {
            max-width: 932px;
            margin-top: 34px;
        }
    }
}

.wedding-decor-section9 {
    margin: 50px 0;
    .container {
        h4 {
            text-align: center;
            color: $red2;
        }
    }
}

.wedding-decor-section10, .wedding-decor-section11, .wedding-decor-section12 {
    .container {
        h4 {color: $violet1;}
    }
}

.wedding-decor-section10, .wedding-decor-section11 {
    .container {
        .transparency {
            margin-top: 42px;
            transition: opacity 0.8s 1.2s, visibility 0.8s 1.2s;
        }
    }
}

.wedding-decor-section11 {margin: 52px 0;}

.wedding-decor-section12 {margin-bottom: 52px;}

.wedding-decor-section13 {
    .container:not(.photo-on-the-left, .photo-on-the-right) {
        padding: 0 60px;
        h4 {
            text-align: center;
            color: $red2;
        }
        .text-with-lines {
            max-width: 932px;
            margin-top: 34px;
            margin-bottom: 49px;
        }
    }
    .photo-on-the-left, .photo-on-the-right {
        p, ul {font-size: 17px;}
    }
    .two-rows {
        div {grid-row: 1/3;}
        p:nth-child(2) {align-self: end;}
        p:nth-child(3), ul:nth-child(3) {
            align-self: start;
            margin-top: 8px;
        }
    }
}

.wedding-decor-section14 {
    margin: 65px 0 50px 0;
    .container {
        h4 {color: $red2;}
    }
}

.wedding-decor-section15 {
    .container {
        padding: 0 60px;
        h4 {
            text-align: center;
            color: $red2;
        }
        .material-cards {
            margin: 40px 0 44px 0;
            display: grid;
            grid-template-columns: repeat(4, auto);
            justify-content: center;
            column-gap: 80px;
            .material-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                div {
                    width: 100px;
                    height: 100px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(to right, $violet2 11%, $white 11%);
                    svg {
                        width: 75%;
                        margin-left: 11%;
                    }
                }
                span {
                    width: min-content;
                    text-align: center;
                    margin-top: 12px;
                    color: $violet2;
                }
            }
            @media (hover: hover) and (pointer: fine) {
                a {
                    div {
                        svg {
                            transform: translate3d(0, 0, 0);
                            path {transition: stroke 0.3s;}
                        }
                    }
                    span {
                        transform: translate3d(0, 0, 0);
                        transition: color 0.3s;
                    }
                }
                a:hover {
                    div {
                        svg {
                            path {stroke: $red1;}
                        }
                    }
                    span {color: $red1;}
                }
            }
        }
        .text-with-lines {max-width: 932px;}
    }
}

.wedding-decor-section16 {
    margin: 50px 0;
    .text-with-lines {max-width: 932px;}
    .text-with-lines:nth-child(2) {margin-top: 34px;}
    .decor-cards {margin: 40px auto 50px auto;}
}

.wedding-decor-section17 {
    margin-bottom: 60px;
    .container {
        padding: 0 60px;
        h4 {color: $red2;}
        .text-with-lines {
            max-width: 546px;
            margin-top: 34px;
            margin-bottom: 30px;
        }
        ul {
            max-width: 932px;
            margin: 0 auto;
            text-align: justify;
            li {
                color: $brown1;
                span {
                    display: block;
                    margin-bottom: 8px;
                    color: black;
                }
            }
        }
    }
}

@media (max-width: 1300.9px) and (min-width: 321px) {
    .wedding-decor-section2 {
        margin: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0
                calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            margin-top: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {max-width: calc(466px + (932 - 466) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .wedding-decor-section4 {
        margin: calc(28px + (56 - 28) * ((100vw - 321px) / (1300 - 321))) 0
                calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .wedding-decor-section4__cards {
                max-width: calc(371px + (586 - 371) * ((100vw - 321px) / (1300 - 321)));
                margin: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321))) auto 0 auto;
                .card {
                    div {
                        width: calc(72px + (114 - 72) * ((100vw - 321px) / (1300 - 321)));
                        height: calc(72px + (114 - 72) * ((100vw - 321px) / (1300 - 321)));
                    }
                    p {font-size: calc(10px + (16 - 10) * ((100vw - 321px) / (1300 - 321)));}
                }
                .card:not(.card:last-child) {
                    margin-bottom: calc(50px + (70 - 50) * ((100vw - 321px) / (1300 - 321)));
                    &:after {transform: translate(-50%, calc(10px + (20 - 10) * ((100vw - 321px) / (1300 - 321))));}
                }
            }
        }
    }
    .wedding-decor-section7:not(.wedding-decor-section16) {
        margin: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0
                calc(35px + (65 - 35) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            .decor-cards {margin: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321))) auto 0 auto;}
        }
    }
    .wedding-decor-section7 {
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .decor-cards {
                gap: calc(15px + (40 - 15) * ((100vw - 321px) / (1300 - 321)));
                .decor-card {
                    max-width: calc(264px + (330 - 264) * ((100vw - 321px) / (1300 - 321)));
                    padding: calc(12px + (15 - 12) * ((100vw - 321px) / (1300 - 321)))
                             calc(12px + (15 - 12) * ((100vw - 321px) / (1300 - 321)))
                             calc(16px + (28 - 16) * ((100vw - 321px) / (1300 - 321)))
                             calc(12px + (15 - 12) * ((100vw - 321px) / (1300 - 321)));
                }
                .centered-card {transform: translate3d(calc(50% + calc(8px + (20 - 8) * ((100vw - 321px) / (1300 - 321)))), 25%, 0);}
            }
        }
        .container._transform {
            .decor-cards {
                .centered-card {transform: translate3d(calc(50% + calc(8px + (20 - 8) * ((100vw - 321px) / (1300 - 321)))), 0, 0);}
            }
        }
    }
    .wedding-decor-section9, .wedding-decor-section10, .wedding-decor-section11, .wedding-decor-section12, .wedding-decor-section14 {
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {
                max-width: calc(466px + (932 - 466) * ((100vw - 321px) / (1300 - 321)));
                margin-top: calc(16px + (34 - 16) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
    .wedding-decor-section9 {margin: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0;}
    .wedding-decor-section10, .wedding-decor-section11 {
        .container {
            .transparency {margin-top: calc(20px + (42 - 20) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .wedding-decor-section11 {margin: calc(27px + (52 - 27) * ((100vw - 321px) / (1300 - 321))) 0;}
    .wedding-decor-section12 {margin-bottom: calc(27px + (52 - 27) * ((100vw - 321px) / (1300 - 321)));}
    .wedding-decor-section13 {
        .container:not(.photo-on-the-left, .photo-on-the-right) {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {
                max-width: calc(466px + (932 - 466) * ((100vw - 321px) / (1300 - 321)));
                margin-top: calc(16px + (34 - 16) * ((100vw - 321px) / (1300 - 321)));
                margin-bottom: calc(27px + (49 - 27) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
    .wedding-decor-section14 {
        margin: calc(29px + (65 - 29) * ((100vw - 321px) / (1300 - 321))) 0
                calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0;
    }
    .wedding-decor-section15 {
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .material-cards {
                margin: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321))) 0
                        calc(24px + (44 - 24) * ((100vw - 321px) / (1300 - 321))) 0;
                column-gap: calc(20px + (80 - 20) * ((100vw - 321px) / (1300 - 321)));
                row-gap: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));
                .material-card {
                    div {
                        width: calc(50px + (100 - 50) * ((100vw - 321px) / (1300 - 321)));
                        height: calc(50px + (100 - 50) * ((100vw - 321px) / (1300 - 321)));
                    }
                    span {margin-top: calc(8px + (12 - 8) * ((100vw - 321px) / (1300 - 321)));}
                }
            }
            .text-with-lines {max-width: calc(466px + (932 - 466) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .wedding-decor-section16 {
        margin: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0;
        .text-with-lines {max-width: calc(466px + (932 - 466) * ((100vw - 321px) / (1300 - 321)));}
        .text-with-lines:nth-child(2) {margin-top: calc(16px + (34 - 16) * ((100vw - 321px) / (1300 - 321)));}
        .decor-cards {
            margin: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321))) auto
                    calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) auto;
        }
    }
    .wedding-decor-section17 {
        margin-bottom: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)));
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {
                max-width: calc(273px + (546 - 273) * ((100vw - 321px) / (1300 - 321)));
                margin-top: calc(16px + (34 - 16) * ((100vw - 321px) / (1300 - 321)));
                margin-bottom: calc(14px + (30 - 14) * ((100vw - 321px) / (1300 - 321)));
            }
            ul {
                max-width: calc(466px + (932 - 466) * ((100vw - 321px) / (1300 - 321)));
                li {
                    span {margin-bottom: calc(5px + (8 - 5) * ((100vw - 321px) / (1300 - 321)));}
                }
            }
        }
    }
}

@media (max-width: 1300.9px) and (min-width: 992px) {
    .wedding-decor-section13 {
        .photo-on-the-left, .photo-on-the-right {
            p, ul {font-size: calc(13px + (17 - 13) * ((100vw - 992px) / (1300 - 992)));}
        }
    }
}

@media (max-width: 991.9px) {
    .wedding-decor-section7:not(.wedding-decor-section16) {
        .container {
            .decor-cards {
                .decor-card:nth-child(4) {
                    h5 {
                        width: min-content;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
                .decor-card:nth-child(3) {transition: transform 0.8s 1s, opacity 0.8s 1s, visibility 0.8s 1s;}
                .decor-card:nth-child(5), .decor-card:nth-child(6) {
                    transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;
                }
                .decor-card:nth-child(7), .decor-card:nth-child(8) {
                    transition: transform 0.8s 2s, opacity 0.8s 2s, visibility 0.8s 2s;
                }
            }
        }
    }
    .wedding-decor-section7 {
        .container {
            .decor-cards {
                grid-template-columns: 1fr 1fr;
                .centered-card {transform: translate3d(0, 25%, 0);}
            }
        }
        .container._transform {
            .decor-cards {
                .centered-card {transform: translate3d(0, 0, 0);}
            }
        }
    }
    .wedding-decor-section13 {
        .photo-on-the-left, .photo-on-the-right {
            p, ul {font-size: inherit;}
        }
    }
    .wedding-decor-section16 {
        .container {
            .decor-cards {
                .decor-card:nth-child(n+4) {transition: transform 0.8s 1s, opacity 0.8s 1s, visibility 0.8s 1s;}
            }
            .text-with-lines:nth-child(4) {transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;}
        }
    }
}

@media (max-width: 767.9px) {
    .wedding-decor-section2 {
        .wedding-decor-section2__top {
            nav {
                grid-template-columns: 1fr 1fr;
                transform: translate3d(0, 50%, 0);
                a {text-align: center;}
            }
        }
    }
}

@media (max-width: 480.9px) and (min-width: 321px) {
    .wedding-decor-section4 {
        .container {
            .wedding-decor-section4__cards {max-width: calc(280px + (318 - 280) * ((100vw - 321px) / (480 - 321)));}
        }
    }
}

@media (max-width: 480.9px) {
    .wedding-decor-section2 {
        .wedding-decor-section2__top {
            nav {
                grid-template-columns: 1fr;
                transform: translate3d(0, 25%, 0);
            }
        }
    }
    .wedding-decor-section4 {
        .container {
            .wedding-decor-section4__cards {
                .card {
                    display: block;
                    transform: translate3d(0, 25%, 0);
                    div:not(.contract-card div) {margin: 0 auto 8px auto;}
                    span:not(.contract-card span), p {transform: translateY(2px);}
                    span {display: block;}
                    span, p {text-align: center;}
                }
                .contract-card {
                    div {margin: 0 auto 10px auto;}
                    span {transform: none;}
                }
            }
        }
        .container.container._transform {
            .wedding-decor-section4__cards {
                .card {transform: translate3d(0, 0, 0);}
            }
        }
    }
    .wedding-decor-section7:not(.wedding-decor-section16) {
        .container {
            .decor-cards {
                .decor-card:first-child, .decor-card:nth-child(2), .decor-card:nth-child(4) {
                    h5 {width: auto;}
                }
                .decor-card:nth-child(n+3) {transition: transform 0.8s 0.5s, opacity 0.8s 0.5s, visibility 0.8s 0.5s;}
            }
        }
    }
    .wedding-decor-section7 {
        .container {
            .decor-cards {grid-template-columns: 1fr;}
        }
    }
    .wedding-decor-section15 {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .material-cards {
                grid-template-columns: 1fr 1fr;
                column-gap: 40px;
                .material-card:nth-child(3), .material-card:nth-child(4) {
                    transition: transform 0.8s 1s, opacity 0.8s 1s, visibility 0.8s 1s;
                }
            }
            .text-with-lines {transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;}
        }
    }
}

@media (max-width: 320.9px) {
    .wedding-decor-section2 {
        margin: 30px 0 25px 0;
        .container {
            padding: 0 20px;
            margin-top: 30px;
        }
    }
    .wedding-decor-section4 {
        margin: 28px 0 30px 0;
        .container {
            padding: 0 20px;
            .wedding-decor-section4__cards {
                margin: 20px auto 0 auto;
                .card {
                    div {
                        width: 72px;
                        height: 72px;
                    }
                    p {font-size: 10px;}
                }
                .card:not(.card:last-child) {
                    margin-bottom: 50px;
                    &:after {transform: translate(-50%, 10px);}
                }
            }
        }
    }
    .wedding-decor-section7:not(.wedding-decor-section16) {
        margin: 25px 0 35px 0;
        .container {
            .decor-cards {margin: 20px auto 0 auto;}
        }
    }
    .wedding-decor-section7 {
        .container {
            padding: 0 20px;
            .decor-cards {
                gap: 15px;
                .decor-card {padding: 12px 12px 16px 12px;}
            }
        }
    }
    .wedding-decor-section9, .wedding-decor-section10, .wedding-decor-section11, .wedding-decor-section12, .wedding-decor-section14 {
        .container {
            padding: 0 20px;
            .text-with-lines {margin-top: 16px;}
        }
    }
    .wedding-decor-section9 {margin: 25px 0;}
    .wedding-decor-section10, .wedding-decor-section11 {
        .container {
            .transparency {margin-top: 20px;}
        }
    }
    .wedding-decor-section11 {margin: 27px 0;}
    .wedding-decor-section12 {margin-bottom: 27px;}
    .wedding-decor-section13 {
        .container:not(.photo-on-the-left, .photo-on-the-right) {
            padding: 0 20px;
            .text-with-lines {
                margin-top: 16px;
                margin-bottom: 27px;
            }
        }
    }
    .wedding-decor-section14 {margin: 29px 0 25px 0;}
    .wedding-decor-section15 {
        .container {
            padding: 0 20px;
            .material-cards {
                margin: 20px 0 24px 0;
                row-gap: 20px;
                .material-card {
                    div {
                        width: 50px;
                        height: 50px;
                    }
                    span {margin-top: 8px;}
                }
            }
        }
    }
    .wedding-decor-section16 {
        margin: 25px 0;
        .text-with-lines:nth-child(2) {margin-top: 16px;}
        .decor-cards {margin: 20px auto 25px auto;}
    }
    .wedding-decor-section17 {
        margin-bottom: 30px;
        .container {
            padding: 0 20px;
            .text-with-lines {
                margin-top: 16px;
                margin-bottom: 14px;
            }
            ul {
                li {
                    span {margin-bottom: 5px;}
                }
            }
        }
    }
}