.turnkey-section2 {
    margin: 60px 0 70px 0;
    .turnkey-section2__top {
        nav {grid-template-columns: repeat(7, auto);}
    }
    .container:not(.photo-on-the-left, .photo-on-the-right) {
        .text-with-lines {
            max-width: 776px;
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }
}

.turnkey-section3 {
    .container {
        padding: 0 60px;
        h4 {
            text-align: center;
            color: $red2;
        }
        .spoiler-cards {
            .spoiler-card:nth-child(7), .spoiler-card:nth-child(8), .spoiler-card:nth-child(9) {
                h5 {
                    width: min-content;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.turnkey-section4, .turnkey-section5 {
    .container {
        .text-with-lines {max-width: 806px;}
    }
}

.turnkey-section4 {
    margin: 60px 0 57px 0;
    .container {
        padding: 0 60px;
        h4 {color: $red2;}
        .text-with-lines {margin-top: 40px;}
    }
}

.turnkey-section5 {
    margin-bottom: 65px;
    .container {
        .text-with-lines {margin-top: 50px;}
    }
}

.turnkey-section7 {
    margin-top: 50px;
    padding-bottom: 10px;
    .container {
        padding: 0 60px;
        h4 {color: $violet1;}
        .turnkey-section7__cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 30px;
            row-gap: 80px;
            margin-top: 80px;
            .card {
                align-items: center;
                div {
                    width: 76px;
                    height: 76px;
                    background: linear-gradient(to right, $violet2 11%, $white 11%);
                }
                p {
                    font-size: 16px;
                    line-height: 125%;
                    color: $brown2;
                }
            }
            .card:not(.card:nth-child(3n)) {
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translateY(-100%);
                    width: 66px;
                    height: 54px;
                    background: url('../img/wedding-organization-turnkey_section7-10.svg') center / contain no-repeat;
                }
            }
        }
    }
}

.turnkey-section10 {
    margin: 50px 0 60px 0;
    .container{
        padding: 0 60px;
        h4 {color: $violet1;}
        .text-with-lines {
            max-width: 916px;
            margin-top: 40px;
            margin-bottom: 40px;
        }
    }
}

.turnkey-section12 {
    .container {
        .about-company-section3__statistics {
            div {
                span:last-child {
                    font-size: 17px;
                    line-height: 112%;
                }
            }
        }
    }
}

.turnkey-section13 {
    margin: 65px 0;
    .container {
        padding: 0 60px;
        .text-with-lines {max-width: 790px;}
    }
}

.turnkey-section14 {
    .container {
        padding: 0 60px;
        h4 {
            text-align: center;
            color: $violet1;
        }
        ul {
            max-width: 956px;
            margin: 30px auto 0 auto;
            li {text-align: justify;}
        }
    }
}

.turnkey-section15 {
    margin: 55px 0 60px 0;
    .container {
        padding: 0 60px;
        h4 {color: $violet1;}
        .turnkey-section15__questions {
            transform: translate3d(0, 49px, 0);
            max-width: 956px;
            margin: 30px auto 0 auto;
            .questions__question {
                display: grid;
                grid-template-columns: auto 1fr;
                column-gap: 18px;
                div {
                    grid-row: 1/3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 44px;
                    height: 44px;
                    padding-bottom: 4px;
                    border-radius: 50%;
                    border: 2px solid $red1;
                    color: $violet2;
                }
                span, p {line-height: 125%;}
                p {
                    margin-top: 10px;
                    text-align: justify;
                    color: $brown1;
                }
            }
            .questions__question:not(:last-child) {margin-bottom: 30px;}
        }
    }
}

.turnkey-section17 {
    margin: 50px 0;
    .container {
        padding: 0 60px;
        h4 {color: $violet1;}
        .text-with-lines {
            max-width: 760px;
            margin-top: 40px;
        }
    }
}

.turnkey-section19 {
    margin: 55px 0 70px 0;
    .container:not(.photo-on-the-left, .photo-on-the-right) {
        padding: 0 60px;
        margin-bottom: 60px;
        h4 {
            text-align: center;
            color: $violet1;
        }
    }
    .photo-on-the-left, .photo-on-the-right {
        p {
            color: $brown1;
            span {
                display: block;
                margin-bottom: 10px;
                text-align: left;
                color: black;
            }
        }
    }
}

@media (max-width: 1300.9px) and (min-width: 321px) {
    .turnkey-section2 {
        margin: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0
                calc(35px + (70 - 35) * ((100vw - 321px) / (1300 - 321))) 0;
        .container:not(.photo-on-the-left, .photo-on-the-right) {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {
                max-width: calc(388px + (776 - 388) * ((100vw - 321px) / (1300 - 321)));
                margin-top: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)));
                margin-bottom: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
    .turnkey-section3 {
        .container {padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));}
    }
    .turnkey-section4, .turnkey-section5 {
        .container {
            .text-with-lines {max-width: calc(403px + (806 - 403) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .turnkey-section4 {
        margin: calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0
                calc(27px + (57 - 27) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {margin-top: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .turnkey-section5 {
        margin-bottom: calc(34px + (65 - 34) * ((100vw - 321px) / (1300 - 321)));
        .container {
            .text-with-lines {margin-top: calc(30px + (50 - 30) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .turnkey-section7 {
        margin-top: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321)));
        padding-bottom: calc(5px + (10 - 5) * ((100vw - 321px) / (1300 - 321)));
        .container {
            padding: 0 calc(15px + (60 - 15) * ((100vw - 321px) / (1300 - 321)));
            .turnkey-section7__cards {
                column-gap: calc(16px + (30 - 16) * ((100vw - 321px) / (1300 - 321)));
                row-gap: calc(50px + (80 - 50) * ((100vw - 321px) / (1300 - 321)));
                margin-top: calc(50px + (80 - 50) * ((100vw - 321px) / (1300 - 321)));
                .card {
                    div {
                        width: calc(48px + (76 - 48) * ((100vw - 321px) / (1300 - 321)));
                        height: calc(48px + (76 - 48) * ((100vw - 321px) / (1300 - 321)));
                    }
                    p {font-size: calc(10px + (16 - 10) * ((100vw - 321px) / (1300 - 321)));}
                }
                .card:not(.card:nth-child(3n)) {
                    &:after {
                        width: calc(44px + (66 - 44) * ((100vw - 321px) / (1300 - 321)));
                        height: calc(36px + (54 - 36) * ((100vw - 321px) / (1300 - 321)));
                    }
                }
            }
        }
    }
    .turnkey-section10 {
        margin: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0
                calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0;
        .container{
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {
                max-width: calc(458px + (916 - 458) * ((100vw - 321px) / (1300 - 321)));
                margin-top: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));
                margin-bottom: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
    .turnkey-section12 {
        .container {
            .about-company-section3__statistics {
                div {
                    span:last-child {font-size: calc(10px + (17 - 10) * ((100vw - 321px) / (1300 - 321)));}
                }
            }
        }
    }
    .turnkey-section13 {
        margin: calc(35px + (65 - 35) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {max-width: calc(395px + (790 - 395) * ((100vw - 321px) / (1300 - 321)));}
        }
    }
    .turnkey-section14 {
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            ul {
                max-width: calc(478px + (956 - 478) * ((100vw - 321px) / (1300 - 321)));
                margin: calc(15px + (30 - 15) * ((100vw - 321px) / (1300 - 321))) auto 0 auto;
            }
        }
    }
    .turnkey-section15 {
        margin: calc(29px + (55 - 29) * ((100vw - 321px) / (1300 - 321))) 0
                calc(30px + (60 - 30) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .turnkey-section15__questions {
                transform: translate3d(0, calc(40px + (49 - 40) * ((100vw - 321px) / (1300 - 321))), 0);
                max-width: calc(478px + (956 - 478) * ((100vw - 321px) / (1300 - 321)));
                margin: calc(15px + (30 - 15) * ((100vw - 321px) / (1300 - 321))) auto 0 auto;
                .questions__question {
                    column-gap: calc(10px + (18 - 10) * ((100vw - 321px) / (1300 - 321)));
                    div {
                        width: calc(28px + (44 - 28) * ((100vw - 321px) / (1300 - 321)));
                        height: calc(28px + (44 - 28) * ((100vw - 321px) / (1300 - 321)));
                        padding-bottom: calc(1px + (4 - 1) * ((100vw - 321px) / (1300 - 321)));
                    }
                    p {margin-top: calc(4px + (10 - 4) * ((100vw - 321px) / (1300 - 321)));}
                }
                .questions__question:not(:last-child) {margin-bottom: calc(12px + (30 - 12) * ((100vw - 321px) / (1300 - 321)));}
            }
        }
    }
    .turnkey-section17 {
        margin: calc(25px + (50 - 25) * ((100vw - 321px) / (1300 - 321))) 0;
        .container {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            .text-with-lines {
                max-width: calc(380px + (760 - 380) * ((100vw - 321px) / (1300 - 321)));
                margin-top: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));
            }
        }
    }
    .turnkey-section19 {
        margin: calc(25px + (55 - 25) * ((100vw - 321px) / (1300 - 321))) 0
                calc(35px + (70 - 35) * ((100vw - 321px) / (1300 - 321))) 0;
        .container:not(.photo-on-the-left, .photo-on-the-right) {
            padding: 0 calc(20px + (60 - 20) * ((100vw - 321px) / (1300 - 321)));
            margin-bottom: calc(26px + (60 - 26) * ((100vw - 321px) / (1300 - 321)));
        }
        .photo-on-the-left, .photo-on-the-right {
            p {
                span {margin-bottom: calc(4px + (10 - 4) * ((100vw - 321px) / (1300 - 321)));}
            }
        }
    }
}

@media (max-width: 1200.9px) and (min-width: 321px) {
    .turnkey-section7 {
        .container {
            .turnkey-section7__cards {
                .card {max-width: calc(169px + (270 - 169) * ((100vw - 321px) / (1300 - 321)));}
            }
        }
    }
}

@media (max-width: 1200.9px) {
    .turnkey-section2 {
        .turnkey-section2__top {
            nav {
                grid-template-columns: repeat(4, auto);
                transform: translate3d(0, 50%, 0);
                a {text-align: center;}
            }
        }
    }
    .turnkey-section5 {
        .container {
            .text-with-lines {transition: transform 0.8s 1.5s, opacity 0.8s 1.5s, visibility 0.8s 1.5s;}
        }
    }
    .turnkey-section7 {
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            .turnkey-section7__cards {
                .card {
                    display: block;
                    div {margin: 0 auto 10px auto;}
                    p {text-align: center;}
                }
                .card:not(.card:nth-child(3n)) {
                    &:after {transform: translate(50%, -100%);}
                }
            }
        }
    }
}

@media (max-width: 991.9px) {
    .turnkey-section3 {
        .container {
            .spoiler-cards {
                .spoiler-card:nth-child(9) {
                    h5 {width: auto;}
                }
            }
        }
    }
}

@media (max-width: 767.9px) {
    .turnkey-section2 {
        .turnkey-section2__top {
            nav {
                grid-template-columns: auto auto;
                transform: translate3d(0, 25%, 0);
            }
        }
    }
}

@media (max-width: 600.9px) {
    .turnkey-section12 {
        .container {
            .about-company-section3__statistics {
                grid-template-columns: 1fr 1fr;
                div:nth-child(4), div:nth-child(5) {transform: translate3d(0, 0, 0);}
                div:nth-child(3) {
                    grid-column: 1/3;
                    grid-row: 3/4;
                }
                div {
                    span:last-child {margin-bottom: -1px;}
                }
            }
        }
    }
}

@media (max-width: 480.9px) and (min-width: 321px) {
    .turnkey-section7 {
        .container {
            .turnkey-section7__cards {
                margin-top: calc(20px + (40 - 20) * ((100vw - 321px) / (1300 - 321)));
                .card:not(.card:last-child) {
                    &:after {transform: translate(50%, calc(9px + (11 - 9) * ((100vw - 321px) / (480 - 321))));}
                }
            }
        }
    }
}

@media (max-width: 480.9px) {
    .turnkey-section2 {
        .turnkey-section2__top {
            nav {
                width: min-content;
                a:first-child {grid-row: 4/5;}
            }
        }
    }
    .turnkey-section3 {
        .container {
            .spoiler-cards {
                .spoiler-card:nth-child(7), .spoiler-card:nth-child(8) {
                    h5 {width: auto;}
                }
            }
        }
    }
    .turnkey-section7 {
        .container {
            .turnkey-section7__cards {
                grid-template-columns: 1fr;
                .card:nth-child(3n):not(.card:last-child) {
                    &:after {
                        content: '';
                        position: absolute;
                    }
                }
                .card:not(.card:last-child) {
                    &:after {
                        top: 100%;
                        right: 50%;
                        width: 16px;
                        height: 30px;
                        background: url('../img/wedding-organization-turnkey_section7-11.svg') center / contain no-repeat;
                    }
                }
                .card:nth-child(n+4) {transition: transform 0.8s 0.5s, opacity 0.8s 0.5s, visibility 0.8s 0.5s;}
            }
        }
    }
}

@media (max-width: 360.9px) {
    .turnkey-section5 {
        .container {
            .text-with-lines {transition: transform 0.8s 2.5s, opacity 0.8s 2.5s, visibility 0.8s 2.5s;}
        }
    }
}

@media (max-width: 320.9px) {
    .turnkey-section2 {
        margin: 30px 0 35px 0;
        .container:not(.photo-on-the-left, .photo-on-the-right) {
            padding: 0 20px;
            .text-with-lines {
                margin-top: 30px;
                margin-bottom: 30px;
            }
        }
    }
    .turnkey-section3 {
        .container {padding: 0 20px;}
    }
    .turnkey-section4 {
        margin: 30px 0 27px 0;
        .container {
            padding: 0 15px;
            .text-with-lines {margin-top: 20px;}
        }
    }
    .turnkey-section5 {
        margin-bottom: 34px;
        .container {
            .text-with-lines {margin-top: 30px;}
        }
    }
    .turnkey-section7 {
        margin-top: 25px;
        padding-bottom: 5px;
        .container {
            padding: 0 15px;
            .turnkey-section7__cards {
                row-gap: 50px;
                margin-top: 20px;
                .card {
                    max-width: 168px;
                    div {
                        width: 48px;
                        height: 48px;
                    }
                    p {font-size: 10px;}
                }
                .card:not(.card:last-child) {
                    &:after {transform: translate(50%, 9px);}
                }
            }
        }
    }
    .turnkey-section10 {
        margin: 25px 0 30px 0;
        .container{
            padding: 0 20px;
            .text-with-lines {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .turnkey-section12 {
        .container {
            .about-company-section3__statistics {
                div {
                    span:last-child {font-size: 10px;}
                }
            }
        }
    }
    .turnkey-section13 {
        margin: 35px 0;
        .container {padding: 0 20px;}
    }
    .turnkey-section14 {
        .container {
            padding: 0 20px;
            ul {margin: 15px auto 0 auto;}
        }
    }
    .turnkey-section15 {
        margin: 29px 0 30px 0;
        .container {
            padding: 0 20px;
            .turnkey-section15__questions {
                transform: translate3d(0, 40px, 0);
                margin: 15px auto 0 auto;
                .questions__question {
                    column-gap: 10px;
                    div {
                        width: 28px;
                        height: 28px;
                        padding-bottom: 1px;
                    }
                    p {margin-top: 4px;}
                }
                .questions__question:not(:last-child) {margin-bottom: 12px;}
            }
        }
    }
    .turnkey-section17 {
        margin: 25px 0;
        .container {
            padding: 0 20px;
            .text-with-lines {margin-top: 20px;}
        }
    }
    .turnkey-section19 {
        margin: 25px 0 35px 0;
        .container:not(.photo-on-the-left, .photo-on-the-right) {
            padding: 0 20px;
            margin-bottom: 26px;
        }
        .photo-on-the-left, .photo-on-the-right {
            p {
                span {margin-bottom: 4px;}
            }
        }
    }
}